.tabs {
    display: flex;
    justify-content: space-evenly;
    background-color: #f3f3f3;
    padding: 15px;
    margin: 20px 0;
}

.tab {
    cursor: pointer;
    border: none;
    font-size: 22px;
    border-radius: 30px;
}

.title {
    text-align: center;
    font-size: 42px;
    color: #346868;
}