.button {
    padding: 10px 20px;
    border: none;
    background-color: #346868;
    border-radius: 2px;
    color: white;
    cursor: pointer;
}

.light {
    background-color: #346868;
}

.dark {
    background-color: #233c3c;
}