.restaurantTitle {
    font-size: 28px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: bold;
    color: #597a88;
}

.restaurantReview {
    list-style: none;
    font-size: 18px;
    color: #3a454a;
    font-family: "Nunito Sans", sans-serif;
    margin: 10px 0 5px 10px;
}

.restaurantReviews {
    margin-bottom: 20px;
}